html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*unselectable: "on";*/
    cursor: url(img/cursors/default.png) 9 3, default;
}
#menu {
    line-height: 0;  /* TODO: potom posmotrim ©Vovik */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: silver;
    cursor: url(img/cursors/default.png) 9 3, default;
}
#svg {
    position: fixed;
    left: 50px;
    top: 0;
    bottom:20px;
    height: 100%;
    width: 100%;
    background-color: #ffeed5;
}
#statusBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-collapse: collapse;
    height: 20px;
    cursor: url(img/cursors/default.png) 9 3, default;
    /*background-color: white;*/
}
.barFrames {
    padding-left: 10px;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    width: 20%;
    background-color: white;
    border-right: silver dotted 1px;
    border-left: silver dotted 1px;
}
.buttons {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    border: 1px black solid;
    cursor: url(img/cursors/pointer.png) 14 7, pointer;
}
.buttons.selected {
    background-color: #adeae4;
    border-color: white;
}

.buttons:hover {
    border-color: green;
}

.cursor-pointer {
    cursor: url(img/cursors/pointer.png) 14 7, pointer;    
}
.cursor-default {
    cursor: url(img/cursors/default.png) 9 3, pointer;    
}
.cursor-pencil {
    cursor: url(img/cursors/pencil.png) 8 22, pointer;    
}
.cursor-pencil-rectangle {
    cursor: url(img/cursors/pencil_rectangle.png) 8 22, pointer;    
}

@media all and (orientation: portrait){
    #menu {
        width: 100%;
        height: 50px;
    }
    #svg {
        top: 50px;
        left: 0;
    }
}

#lev_0, #lev_4{
    cursor: url(img/cursors/resize4.png) 20 13, nwse-resize;
}
#lev_1, #lev_5 {
    cursor: url(img/cursors/resize2.png) 14 19, ns-resize;
}
#lev_2, #lev_6 {
    cursor: url(img/cursors/resize3.png) 19 13, ns-resize;
}
#lev_3, #lev_7 {
    cursor: url(img/cursors/resize1.png) 25 8, ns-resize;
}

.levers:hover {
    fill: red;
}